ZALO_APP_ID=
ZALO_SECRET=
ZALO_REDIRECT_URI=/api/method/food_order_app.api.zalo_callback
BASE_URL=https://cortically-summational-brain.ngrok-free.dev
ZALO_OA_ACCESS_TOKEN=
GROUP_ID_ZALO=dfec734a1429fd77a438


# Sao chép thành .env: cp env.template .env
# --- Bắt buộc cho production (đổi toàn bộ giá trị mặc định) ---
MYSQL_ROOT_PASSWORD=admin
ADMIN_PASSWORD=admin

# Tên site Frappe (thư mục trong volume sites/)
SITE_NAME=frontend

ERPNEXT_VERSION=v15

FRONTEND_PORT=4455
FRONTEND_BIND=0.0.0.0

UPSTREAM_REAL_IP_ADDRESS=172.16.0.0/12


