ZALO_APP_ID=2622443107747618674
ZALO_SECRET=rcrRF3vTO6wPDfKOSsbI
ZALO_REDIRECT_URI=/api/method/food_order_app.api.zalo_callback
BASE_URL=https://bepan.vnpt-tuyenquang.vn
ZALO_OA_ACCESS_TOKEN=EMle8h4CYLCuQEmXjGcEKZvaxI2m7y0XI1sjD8OTa05k4h02XnA0CbOCupAwOS0OHdxDEBjO_1HREvedYZkfK5GXcaERDgvMLW2wUBLabtHWI9rWhrQGPoP1zc739yTZIp7rPSK6pt1D0Qf3mH25JpySfstm1h5U00dSTjO8qKCUBzChoG2tLq4nes78F85520wDNueeZ7q7DubSYrQiALHPc02FE9qlHa3n9yfKqWytPEyBwr3yDmXTdohqQgWC14kM3F9AioK_BwuLq0wM8my2kr_R8TPA83xNVV41rGu8REmjYa_hBa0Z-XZ2D_ut4XFdGy0NyKWRCELdqnNzU1uYvd3e7EHyPoRvQuasucPnEO9HgYUbNoKbjbckCQfeTotEQlqdwrqo7-f1nmReLHiYrL_WDSDtkbLLHRSGZr4
GROUP_ID_ZALO=235749d912bafbe4a2ab

MYSQL_ROOT_PASSWORD=admin
ADMIN_PASSWORD=admin

SITE_NAME=frontend

ERPNEXT_VERSION=v15

FRONTEND_PORT=8080 
FRONTEND_BIND=0.0.0.0

UPSTREAM_REAL_IP_ADDRESS=172.16.0.0/12


